<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rideshare.carpooling">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/car_pool"
        android:label="@string/app_name"
        android:roundIcon="@drawable/car_pool"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name="com.rideshare.carpooling.Activities.EditDetailsActivity"></activity>
        <activity android:name="com.rideshare.carpooling.Activities.StartingActivity" />
        <activity android:name="com.rideshare.carpooling.Activities.LoginActivity" />
        <activity android:name="com.rideshare.carpooling.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>